<div class="page">
    <div class="content">
        <br><br>
        <h2>Create Account</h2>
        <p><a href="{{ link.pages-landing }}">Landing Page</a></p>
        <p><a href="{{ link.pages-create-account }}">Create Account</a></p>
        <p><a href="{{ link.pages-verify-account }}">Verify Account</a></p>
        <br><br>
        <h2>Sign In</h2>
        <p><a href="{{ link.pages-sign-in }}">Sign In</a></p>
        <p><a href="{{ link.pages-sign-in-reset-success }}">Sign In (Reset Success)</a></p>
        <br><br>
        <h2>Reset Password</h2>
        <p><a href="{{ link.pages-reset-password }}">Reset Password</a></p>
        <p><a href="{{ link.pages-reset-password-success }}">Reset Password (Success)</a></p>
        <p><a href="{{ link.pages-reset-password-via-email }}">Reset Password (via Email)</a></p>
        <br><br>
        <h2>Home</h2>
        <p><a href="{{ link.pages-home }}">Home</a></p>
        <p><a href="{{ link.pages-home-no-results }}">Home (Search - no results)</a></p>
        <p><a href="{{ link.pages-new-post }}">New Post</a></p>
        <p><a href="{{ link.pages-view-media }}">View Media [Mobile/Tablet Only]</a></p>
        <br><br>
        <h2>Profile</h2>
        <p><a href="{{ link.pages-public-profile }}">Public Profile</a></p>
        <p><a href="{{ link.pages-public-profile-following }}">Public Profile - Following</a></p>
        <p><a href="{{ link.pages-public-profile-personal }}">Public Profile - Personal</a></p>
        <p><a href="{{ link.pages-private-profile }}">Private Profile</a></p>
        <p><a href="{{ link.pages-profile-likes }}">Profile Likes</a></p>
        <br><br>
        <h2>Parties</h2>
        <p><a href="{{ link.pages-partie-list }}">Partie List</a></p>
        <p><a href="{{ link.pages-host-partie }}">Host Partie</a></p>
        <p><a href="{{ link.pages-partie-room }}">Partie Room</a></p>
        <p><a href="{{ link.pages-partie-room-messages }}">Partie Room (With Messages)</a></p>
        <p><a href="{{ link.pages-partie-room-public }}">Partie Room (Public View)</a></p>
        <p><a href="{{ link.pages-partie-room-rate }}">Partie Room (Rating Modal)</a></p>
        <p><a href="{{ link.pages-partie-room-feedback }}">Partie Room (Feedback Modal)</a></p>
        <p><a href="{{ link.pages-search-templates }}">Search Template Listing</a></p>
        <p><a href="{{ link.pages-new-search }}">Search Filters</a></p>
        <p><a href="{{ link.pages-new-search-filled }}">Search Filters - Filled</a></p>
        <p><a href="{{ link.pages-partie-templates }}">Partie Templates Listing</a></p>
        <br><br>
        <h2>Notifications</h2>
        <p><a href="{{ link.pages-notifications }}">Notifications</a></p>
        <p><a href="{{ link.pages-notifications-empty }}">Notifications (Empty)</a></p>
        <p><a href="{{ link.pages-notifications-clear }}">Notifications (Clear All)</a></p>
        <br><br>
        <h2>Messages</h2>
        <p><a href="{{ link.pages-messages }}">Messages</a></p>
        <p><a href="{{ link.pages-conversation }}">Conversation [Mobile Only]</a></p>
        <br><br>
        <h2>Account</h2>
        <p><a href="{{ link.pages-account }}">Account</a></p>
        <p><a href="{{ link.pages-account-progress-complete }}">Account (Progress 100%)</a></p>
        <p><a href="{{ link.pages-account-pending-review }}">Account (Partner Pending) [Partner Application - Tablet/Desktop]</a></p>
        <p><a href="{{ link.pages-preferences }}">Account - Preferences [Mobile Only]</a></p>
        <p><a href="{{ link.pages-account-notifications }}">Account - Notifications [Mobile Only]</a></p>
        <p><a href="{{ link.pages-privacy }}">Account - Privacy &amp; Safety [Mobile Only]</a></p>
        <p><a href="{{ link.pages-privacy-no-muted }}">Account - Privacy &amp; Safety (No Muted) [Mobile Only]</a></p>
        <p><a href="{{ link.pages-account-partner }}">Account (Partner)</a></p>
        <p><a href="{{ link.pages-partner-application }}">Partner Application [Mobile Only]</a></p>
        <br><br>
        <h2>Store</h2>
        <p><a href="{{ link.pages-store-main }}">Store</a></p>
        <p><a href="{{ link.pages-store-view-all }}">Store (View All)</a></p>
        <p><a href="{{ link.pages-product }}">Store - Product Detail</a></p>
        <br><br>
        <h2>Edit Profile</h2>
        <p><a href="{{ link.pages-edit-profile }}">Edit Profile</a></p>
        <p><a href="{{ link.pages-edit-profile-linked-social }}">Edit Profile (Linked Social)</a></p>
        <p><a href="{{ link.pages-select-photo }}">Upload Avatar Image</a></p>
        <br><br>
        <h2>Admin</h2>
        <p><a href="{{ link.pages-sign-in }}">Sign In</a></p>
        <p><a href="{{ link.pages-admin-messages }}">Messages</a></p>
        <p><a href="{{ link.pages-admin-users }}">Users</a></p>
        <p><a href="{{ link.pages-admin-account }}">User Account</a></p>
        <p><a href="{{ link.pages-admin-partie-room }}">Partie Room</a></p>
        <br><br>
    </div>
</div>
