<div class="modal host-modal" id="host-modal">
    <div class="modal-overlay"></div>
    <div class="modal-container">
        <div class="modal-header">
            <h2 class="modal-title">Apex Legends</h2>
            <button class="btn bg-black btn-close" onclick="closeModal()">
                <img src="/images/icons/misc/close-x.svg" alt="Close Icon">
            </button>
        </div>
        <div class="modal-content">
            {{> elements-input(inputName: "partie-name", inputType: "text", placeholder: "Enter Partie name", required: true, className: "input-lg") }}
            <div class="form-control custom-select" onclick="event.preventDefault(); openModal('#game-type-modal');">
                <label for="game-type">Game Type</label>
                <div class="select-placeholder">Select game type</div>
            </div>
            <div class="form-control custom-select" onclick="event.preventDefault(); openModal('#role-class-modal');">
                <label for="game-type">Role / Class</label>
                <div class="select-placeholder">Select Role / Class</div>
            </div>
            <div class="form-control custom-select" onclick="event.preventDefault(); openModal('#expertise-modal');">
                <label for="game-type">Expertise</label>
                <div class="select-placeholder">Select Expertise</div>
            </div>
            {{> elements-input(inputName: "partie-objective", label: "Objective", inputType: "text", placeholder: "Enter your Partie's objective", required: true) }}
            <div class="setting-toggle pt-0">
                <div class="toggle-main">
                    <div class="label-group">
                        <span class="setting-toggle-label">Privacy</span>
                    </div>
                    <div class="switch-group">
                        <span class="status-message on">Closed Partie</span>
                        <span class="status-message off">Open Partie</span>
                        <label class="switch icons-lg">
                            <input type="checkbox" onchange="toggleSettingClass(event)">
                            <span class="slider round"></span>
                            <img src="/images/icons/16px/lock-green.svg" alt="Locked Icon">
                            <img src="/images/icons/16px/unlocked.svg" alt="Unlocked Icon">
                        </label>
                    </div>
                </div>
            </div>
            <div class="setting-toggle">
                <div class="toggle-main">
                    <div class="label-group">
                        <span class="setting-toggle-label">Save as template</a></span>
                    </div>
                    <label class="switch">
                        <input type="checkbox" onchange="toggleSettingClass(event)">
                        <span class="slider round"></span>
                        <img src="/images/icons/misc/check-green.svg" alt="Check Icon">
                        <img src="/images/icons/misc/check.svg" alt="Check Icon">
                    </label>
                </div>
            </div>
            <div class="setting-toggle">
                <div class="toggle-main">
                    <div class="label-group">
                        <span class="setting-toggle-label">Publish to Feed</span>
                    </div>
                    <label class="switch">
                        <input type="checkbox" onchange="toggleSettingClass(event)">
                        <span class="slider round"></span>
                        <img src="/images/icons/misc/check-green.svg" alt="Check Icon">
                        <img src="/images/icons/misc/check.svg" alt="Check Icon">
                    </label>
                </div>
            </div>
            <div class="setting-toggle">
                <div class="toggle-main">
                    <div class="label-group">
                        <span class="setting-toggle-label small">Agree to <a href="#">Partie Terms & Conditions</a></span>
                    </div>
                    <label class="switch">
                        <input type="checkbox" onchange="toggleSettingClass(event)">
                        <span class="slider round"></span>
                        <img src="/images/icons/misc/check-green.svg" alt="Check Icon">
                        <img src="/images/icons/misc/check.svg" alt="Check Icon">
                    </label>
                </div>
            </div>
            <button class="btn bg-teal mb-24" onclick="closeModal()">Host Partie</button>
        </div>
    </div>
    {{#gameTypeModal}}
        {{> components-game-type-modal }}
    {{/gameTypeModal}}
</div>
