<div class="modal rate-modal dynamic-height active" id="rate-partie-modal">
    <div class="modal-overlay"></div>
    <div class="modal-container">
        <div class="modal-header">
            <h2 class="modal-title"></h2>
        </div>
        <div class="modal-content">
            <h2>Thanks for Partie'ing!</h2>
            <div class="section-header">
                <span class="t-nav">Rate Partie</span>
            </div>
            <div class="star-rating">
                <img src="/images/icons/misc/star-selected.svg" alt="Star Icon" class="star selected">
                <img src="/images/icons/misc/star-selected.svg" alt="Star Icon" class="star selected">
                <img src="/images/icons/misc/star.svg" alt="Star Icon" class="star">
                <img src="/images/icons/misc/star.svg" alt="Star Icon" class="star">
                <img src="/images/icons/misc/star.svg" alt="Star Icon" class="star">
            </div>
            <div class="section-header">
                <span class="t-nav">Offer Tokens</span>
            </div>
            <div class="offer-tokens">
                <div class="token-container">
                    <div class="token">
                        <img src="/images/cheesy.png" alt="Cheese">
                        <span class="token-label t-caption">Excellent Gameplay</span>
                    </div>
                    <div class="token selected">
                        <img src="/images/cheesy.png" alt="Cheese">
                        <span class="token-label t-caption">Great Communication</span>
                    </div>
                    <div class="token">
                        <img src="/images/cheesy.png" alt="Cheese">
                        <span class="token-label t-caption">Fast Connection</span>
                    </div>
                    <div class="token">
                        <img src="/images/cheesy.png" alt="Cheese">
                        <span class="token-label t-caption">Something Else</span>
                    </div>
                </div>
            </div>
            <div class="social-buttons">
                <a href="#" class="btn btn-bare"><img src="/images/twitter.png" srcset="/images/twitter@2x.png 2x, /images/twitter@3x.png 3x" alt="Twitter Logo"></a>
                <a href="#" class="btn btn-bare"><img src="/images/facebook.png" srcset="/images/facebook@2x.png 2x, /images/facebook@3x.png 3x" alt="Facebook Logo"></a>
            </div>
            <div class="btn-group">
                <button class="btn bg-black" onclick="closeModal()">Skip</button>
                <button class="btn bg-teal submit" onclick="closeModal()">Submit</button>
            </div>
        </div>
    </div>
</div>
