{{> components-side-nav }}
<div class="page page-partner-application">
    {{> components-page-header}}
    <main class="content">
        <section class="content partner-intro">
            <h3>Partnership Guidelines</h3>
            <p>We actively seek and review applications for outstanding Partner candidates who will create positive and engaging Parties in our community as well as uphold the quality and values of our platform.</p>
            <button class="btn btn-outline">Read More</button>
        </section>
        <section class="content bg-black user-data">
            <div class="form-control">
                <label>User Name</label>
                <p class="static-prefill">yellowbear776</p>
            </div>
            <div class="form-control">
                <label>Email</label>
                <p class="static-prefill">wesley.white@example.com</p>
            </div>
            <div class="form-control">
                <label>Country</label>
                <p class="static-prefill">France</p>
            </div>
            <div class="form-control">
                <label>Language</label>
                <p class="static-prefill">English</p>
            </div>
            <div class="form-control">
                <label>Full Name</label>
                <p class="static-prefill">Jorge Edwards</p>
            </div>
        </section>
        <section class="content application-data">
            <div class="form-control">
                <label>Details</label>
                <input type="text" name="details" placeholder="Tell us about yourself" />
            </div>
            <p>Tell us about yourself and why you should be considered for Partnership status.</p>
            <p>Do you already have an established audience on YouTube, Twitter or elsewhere? If so, please provide links in the fields below.</p>
            <div class="form-control">
                <label>Link</label>
                <input type="text" name="details" placeholder="Insert link here" />
            </div>
            <div class="form-control">
                <label>Link</label>
                <input type="text" name="details" placeholder="Insert link here" />
            </div>
            <div class="form-control">
                <label>Link</label>
                <input type="text" name="details" placeholder="Insert link here" />
            </div>
            <div class="form-control">
                <label>Link</label>
                <input type="text" name="details" placeholder="Insert link here" />
            </div>
        </section>
        <section class="content application-actions">
            <img src="/images/recaptcha.png" srcset="/images/recaptcha@2x.png 2x, /images/recaptcha@3x.png 3x" class="recaptcha" />
            <button class="btn bg-blue">Submit</button>
        </section>
    </main>
</div>
