<div class="menu-drawer">
    <div class="content">
        <button class="btn btn-bare btn-menu-item" onclick="toggleFeedMenu();">
            <div class="btn-inner">
                <img class="hide-tablet hide-desktop" src="/images/icons/misc/commence-partie.svg" alt="Commence Partie">
                <img class="show-tablet show-desktop" src="/images/icons/misc/commence-partie-blue.svg" alt="Commence Partie">
                <span class="action-title">Commence Partie</span>
                <span class="action-description">Lorem ipsum dolor sit amet, consectetur</span>
            </div>
        </button>
        <button class="btn btn-bare btn-menu-item" onclick="openModal('#partie-settings-modal'); toggleFeedMenu();">
            <div class="btn-inner">
                <img class="hide-tablet hide-desktop" src="/images/icons/misc/partie-settings.svg" alt="Share Partie">
                <img class="show-tablet show-desktop" src="/images/icons/misc/partie-settings-blue.svg" alt="Share Partie">
                <span class="action-title">Partie Settings</span>
                <span class="action-description">Lorem ipsum dolor sit amet, consectetur</span>
            </div>
        </button>
        <button class="btn btn-bare btn-menu-item" onclick="openModal('#twitter-modal'); toggleFeedMenu();">
            <div class="btn-inner">
                <img class="hide-tablet hide-desktop" src="/images/icons/misc/share-partie.svg" alt="Share Partie">
                <img class="show-tablet show-desktop" src="/images/icons/misc/share-partie-blue.svg" alt="Share Partie">
                <span class="action-title">Share Partie</span>
                <span class="action-description">Lorem ipsum dolor sit amet, consectetur</span>
            </div>
        </button>
        <button class="btn btn-bare btn-menu-item" onclick="openModal('#leave-partie-modal'); toggleFeedMenu();">
            <div class="btn-inner">
                <img class="hide-tablet hide-desktop" src="/images/icons/misc/end-partie.svg" alt="Share Partie">
                <img class="show-tablet show-desktop" src="/images/icons/misc/end-partie-blue.svg" alt="Share Partie">
                <span class="action-title">End Partie</span>
                <span class="action-description">Lorem ipsum dolor  consectetur adipi</span>
            </div>
        </button>
    </div>
</div>
