<div class="chat-notification {{#userLeft}}bg-purple{{/userLeft}}">
    {{#userLeft}}
        <span class="message"><strong>User3848</strong> has left the Partie</span>
        <div class="detail">7:29 PM</div>
    {{/userLeft}}
    {{^userLeft}}
        <span class="message"><strong>AlphaEcho</strong> has joined the Partie</span>
        <div class="detail">7:29 PM</div>
    {{/userLeft}}
</div>
