<div class="chat-side-bar bg-dark">
    {{#gameData}}
        {{> components-partie-list-item }}
    {{/gameData}}
    <h3>Users</h3>
    <div class="content-scrollable">
        {{#participants}}
            {{> components-participant }}
        {{/participants}}
    </div>
</div>
