<div class="chat-input">
    <div class="form-control">
        <textarea name="chat-message" id="message-input" placeholder="Say anything you want, be nice." onkeydown="chatKeydownHandler(event)"></textarea>
    </div>
    <button class="btn" onclick="postMessage(event)">Send</button>
</div>
