<div class="menu-drawer" id="message-menu" onclick="event.stopPropagation()">
    <div class="content">
        <button class="btn btn-bare btn-menu-item">
            <div class="btn-inner">
                <img class="hide-tablet hide-desktop" src="/images/icons/32px/remove.svg" alt="Remove Chat Icon">
                <img class="show-tablet show-desktop" src="/images/icons/32px/remove-blue.svg" alt="Remove Chat Icon">
                <span class="action-title">Remove chat</span>
                <span class="action-description">Lorem ipsum dolor, consectetur adipi</span>
            </div>
        </button>
    </div>
</div>
