<div class="partner-progress earnings-tracker">
    <div class="progress-primary">
        <img src="/images/icons/24px/partie-filled-blue-muted.svg" alt="Partie Logo">
        <span class="progress-title">Earnings Tracker</span>
        <div class="progress-indicator">
            <span class="earnings-amount">$189.79</span>
        </div>
    </div>
</div>
