<div class="checkbox-group">
    {{#checkboxItems}}
        <div class="checkbox-item {{#hasDescription}}large{{/hasDescription}}">
            {{> components-checkbox-option }}
        </div>
    {{/checkboxItems}}
</div>
