<div class="image-selector">
    <div class="image-buttons">
        <button class="btn btn-cta--icon"><img src="/images/icons/misc/camera.svg" alt="Camera Icon"></button>
        <button onclick="addImageToNewPost()" class="btn btn-bare"><img src="/images/camera-1.png" alt="Image Alt Text"></button>
        <button onclick="addImageToNewPost()" class="btn btn-bare"><img src="/images/camera-2.png" alt="Image Alt Text"></button>
        <button onclick="addImageToNewPost()" class="btn btn-bare"><img src="/images/camera-3.png" alt="Image Alt Text"></button>
        <button onclick="addImageToNewPost()" class="btn btn-bare"><img src="/images/camera-1.png" alt="Image Alt Text"></button>
        <button onclick="addImageToNewPost()" class="btn btn-bare"><img src="/images/camera-2.png" alt="Image Alt Text"></button>
        <button onclick="addImageToNewPost()" class="btn btn-bare"><img src="/images/camera-3.png" alt="Image Alt Text"></button>
        <button onclick="addImageToNewPost()" class="btn btn-bare"><img src="/images/camera-1.png" alt="Image Alt Text"></button>
        <button onclick="addImageToNewPost()" class="btn btn-bare"><img src="/images/camera-2.png" alt="Image Alt Text"></button>
        <button onclick="addImageToNewPost()" class="btn btn-bare"><img src="/images/camera-3.png" alt="Image Alt Text"></button>
        <button onclick="addImageToNewPost()" class="btn btn-bare"><img src="/images/camera-1.png" alt="Image Alt Text"></button>
        <button onclick="addImageToNewPost()" class="btn btn-bare"><img src="/images/camera-2.png" alt="Image Alt Text"></button>
        <button onclick="addImageToNewPost()" class="btn btn-bare"><img src="/images/camera-3.png" alt="Image Alt Text"></button>
    </div>
</div>
