<div class="new-post-header">
    <img src="/images/avatar-anton.png" alt="Avatar Alt Text" class="avatar">
    <button class="btn btn-outline muted" data-visibility="public">Public</button>
    <span class="visibility">Visible to everyone</span>
</div>
