<div class="social-share-modal" id="{{ socialShareId }}">
    <div class="back" onclick="closeShareModal()">
        <div class="arrow"></div>
        <span>Partie</span>
    </div>
    <div class="share-header">
        <button class="btn btn-bare">Cancel</button>
        <button class="btn btn-send">Tweet</button>
    </div>
    <div class="share-content">
        <img src="/images/avatar-dash.png" alt="Avatar Alt Text" class="avatar">
        <div class="form-control">
            <textarea name="share-text" id="share-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus </textarea>
        </div>
    </div>
    <!-- <div class="share-footer">
        <div class="attach-actions">
            <button class="btn btn-bare"></button>
            <button class="btn btn-bare"></button>
            <button class="btn btn-bare"></button>
            <button class="btn btn-bare"></button>
        </div>
        <div class="other-actions">

        </div>
    </div> -->
</div>
