<div class="status status--partie v-hidden">
    <div class="status-body">
      <div class="game-cover"></div>
      <div class="game-details">
        <img src="/images/icons/16px/xbox-blue-muted.svg" alt="Xbox" />
        <div class="tag bg-blue">PVE</div>
        <div class="tag tag-icon bg-purple"><img src="/images/icons/microphone.svg" alt="Microphone Icon" /></div>
        <span class="game-name">Apex Legends</span>
      </div>
    </div>
    <div class="status-meta">
      <a class="avatar" href="{{ link.pages-public-profile }}">
          <img src="/images/avatar-dash.png" alt="Avatar Alt Text">
          <div class="online-indicator"></div>
      </a>
      <a class="author-name" href="{{ link.pages-public-profile }}">Dash</a>
      <div class="status-info">
          <div class="tag tag-staff"><span>Staff</span></div>
          <span class="time-ago">7 minutes ago</span>
      </div>
      <button class="btn bg-blue">Join</button>
  </div>
</div>