<div class="status status-cta v-hidden">
    <div class="status-body">
        <img src="{{ imagePath }}" alt="Picture Alt Text">
        <div class="status-text">
            <span class="headline">{{ headline }}</span>
            <p>{{ text }}</p>
        </div>
        <div class="status-actions">
            <a href="#" class="btn bg-black">{{ btn1Text }}</a>
            <a href="#" class="btn btn-bare">{{ btn2Text }}</a>
        </div>
    </div>
</div>
