<div class="stat-meter">
    <div class="stat-meter-column parties" data-count="{{ partieCount }}" data-max-count="{{ maxCount }}"></div>
    <div class="stat-meter-column badges" data-count="{{ badgeCount }}" data-max-count="{{ maxCount }}"></div>
</div>
