<div class="menu-drawer" onclick="event.stopPropagation()">
    <div class="content">
        <button class="btn btn-bare btn-menu-item">
            <div class="btn-inner">
                <img class="hide-tablet hide-desktop" src="/images/icons/32px/mute.svg" alt="Mute Icon">
                <img class="show-tablet show-desktop" src="/images/icons/32px/mute-blue.svg" alt="Mute Icon">
                <span class="action-title">Mute</span>
                <span class="action-description">Stop seeing posts but continue following</span>
            </div>
        </button>
        <button class="btn btn-bare btn-menu-item">
            <div class="btn-inner">
                <img class="hide-tablet hide-desktop" src="/images/icons/32px/remove.svg" alt="Remove Icon">
                <img class="show-tablet show-desktop" src="/images/icons/32px/remove-blue.svg" alt="Remove Icon">
                <span class="action-title">Unfollow</span>
                <span class="action-description">Stop seeing posts and unfollow</span>
            </div>
        </button>
        <button class="btn btn-bare btn-menu-item">
            <div class="btn-inner">
                <img class="hide-tablet hide-desktop" src="/images/icons/32px/block.svg" alt="Block Icon">
                <img class="show-tablet show-desktop" src="/images/icons/32px/block-blue.svg" alt="Block Icon">
                <span class="action-title">Block</span>
                <span class="action-description">Stop seeing posts and block account</span>
            </div>
        </button>
        <button class="btn btn-bare btn-menu-item btn-report">
            <div class="btn-inner">
                <img class="hide-tablet hide-desktop" src="/images/icons/32px/report.svg" alt="Report Icon">
                <img class="show-tablet show-desktop" src="/images/icons/32px/report-blue.svg" alt="Report Icon">
                <span class="action-title">Report</span>
                <span class="action-description">Report this account for abuse</span>
            </div>
        </button>
    </div>
</div>
