<div class="page page-reset-password">
    {{> components-page-header }}
    <main class="content">
        <form class="form" action="">
            {{> elements-input(inputName: "email", inputType: "email", label: "Email", placeholder: "Enter the email address", required: true) }}
            {{> elements-link-button:bg-blue(text: "Reset Password", url: "link.pages-reset-password-success") }}
        </form>
        <p class="help-message"><a href="#">Need Help?</a></p>
    </main>
</div>
