<div class="page page-reset-password">
    {{> components-page-header }}
    <main class="content">
        {{> components-message-panel(success: true, message: "Please check your inbox to finish resetting your password.") }}
        <p class="help-message">Got your password? <a href="{{ link.pages-sign-in }}">Sign In</a></p>
    </main>
</div>
