<div class="full-screen">
    <div class="content page page-password-reset-form">
        <img src="/images/logo-lockup.svg" alt="Partie Logo" class="logo">
        <form class="form" action="">
            {{> elements-input(inputName: "password", inputType: "password", label: "Enter New Password", placeholder: "Type a strong password", password: true, required: true) }}
            {{> elements-link-button:bg-blue(text: "Reset Password", url: "link.pages-sign-in-reset-success") }}
        </form>
        <p class="help-message">Got your password? <a href="{{ link.pages-sign-in }}">Sign In</a></p>
    </div>
</div>
