<div class="full-screen icon-background" id="landing-page">
    <div class="content page-login">
        <img src="/images/logo-lockup.svg" alt="Partie Logo" class="logo">
        <section class="text-main">
            <h1>More Than Matchmaking</h1>
        </section>
        <p class="text-secondary">Sign In or Create Account to get started</p>
        <section class="btn-group">
            {{> elements-link-button:bg-dark|btn-facebook(text: "Connect with Facebook") }}
            {{> elements-link-button:btn-outline(text: "Sign In") }}
            {{> elements-link-button:bg-teal(text: "Create Account", url: "link.pages-create-account" ) }}
        </section>
        <p class="contact">Need help? <a href="#">Contact Us</a></p>
    </div>
</div>
