<div class="modal" id="new-releases-modal">
    <div class="modal-overlay"></div>
    <div class="modal-container">
        <div class="modal-header">
            <h2 class="modal-title">New Releases</h2>
            <button class="btn bg-black btn-close" onclick="closeModal()">
                <img src="/images/icons/misc/close-x.svg" alt="Close Icon">
            </button>
        </div>
        <div class="modal-content">
            <div class="content-scrollable">
                <div class="product-list">
                    {{#products }}
                        {{> components-product-listing-item }}
                    {{/products}}
                </div>
            </div>
        </div>
    </div>
</div>
