<div class="product-card">
    <a href="{{ link.pages-product }}" class="cover">
        <div class="img-container"></div>
        <div class="card-overlay">
            <p class="t-caption">{{ description }}</p>
        </div>
    </a>
</div>
