<a href="{{ link.page-product }}" class="product-listing-item cover">
    <div class="img-container"></div>
    <p class="description">{{ description }}</p>
    <span class="price">{{ price }}</span>
</a>
