<div class="page page-select-photo">
    {{> components-page-header }}
    <main>
        <div class="image-grid">
            {{#images}}
                <img src="" alt="">
            {{/images}}
        </div>
    </main>
</div>
