<div class="page page-view-media">
  {{> components-page-header}}
  <main class="content">
    <div class="peppermint peppermint-inactive" id="image-carousel">
      {{#mediaImages}}
        <figure><img src="{{ imageUrl }}" alt="Carousel Image" /></figure>
      {{/mediaImages}}
    </div>
  </main>
</div>