<div class="profile-quick-stats">
    <div class="quick-stat" onclick="openModal('#followers-modal')">
        <span class="quick-stat-figure">239</span>
        <span class="quick-stat-label">Following</span>
    </div>
    <div class="quick-stat" onclick="openModal('#followers-modal')">
        <span class="quick-stat-figure">98</span>
        <span class="quick-stat-label">Followers</span>
    </div>
    <div class="quick-stat" onclick="openModal('#parties-modal')">
        <span class="quick-stat-figure">33</span>
        <span class="quick-stat-label">Parties</span>
    </div>
    <div class="quick-stat" onclick="openModal('#badges-modal')">
        <span class="quick-stat-figure">14</span>
        <span class="quick-stat-label">Badges</span>
    </div>
    <div class="quick-stat" onclick="window.location = '{{ link.pages-profile-likes }}'">
        <span class="quick-stat-figure">234</span>
        <span class="quick-stat-label">Likes</span>
    </div>
</div>
