<div class="gamer-tags">
    <div class="gamer-tag">
        <img src="/images/icons/16px/steam.svg" alt="Steam Logo">
        <span>Gamertag938</span>
    </div>
    <div class="gamer-tag">
        <img src="/images/icons/16px/xbox.svg" alt="Xbox Logo">
        <span>RandomTag20223</span>
    </div>
    <div class="gamer-tag">
        <img src="/images/icons/16px/playstation.svg" alt="Playstation Logo">
        <span>UserTag20</span>
    </div>
</div>
