<div class="stat-group">
    {{#statList}}
        <div class="stat">
            <span class="stat-value h1">{{ statValue }}</span>
            {{#statLabel}}
                <span class="stat-label">{{ statLabel }}</span>
            {{/statLabel}}
        </div>
    {{/statList}}
</div>
