<div class="modal badges-modal" id="badges-modal">
    <div class="modal-overlay"></div>
    <div class="modal-container">
        <div class="modal-header">
            <h2 class="modal-title">14 Badges</h2>
            <button class="btn bg-black btn-close" onclick="closeModal()">
                <img src="/images/icons/misc/close-x.svg" alt="Close Icon">
            </button>
        </div>
        <div class="modal-content">
            <div class="content-scrollable">
                <div class="section-header">
                    <span class="t-nav">Tokens</span>
                </div>
                <div class="badge-group">
                    {{#tokens}}
                        {{> components-token }}
                    {{/tokens}}
                </div>
                <div class="section-header">
                    <span class="t-nav">Achievements</span>
                </div>
                <div class="badge-group">
                    {{#achievements}}
                        {{> components-achievement }}
                    {{/achievements}}
                </div>
            </div>
        </div>
    </div>
</div>
