<div class="menu-drawer" onclick="event.stopPropagation()">
    <div class="content">
        <button class="btn btn-bare btn-menu-item">
            <div class="btn-inner">
                <img class="hide-tablet hide-desktop" src="/images/icons/misc/success-check.svg" alt="Approve Icon">
                <img class="show-tablet show-desktop" src="/images/icons/misc/success-check-blue.svg" alt="Approve Icon">
                <span class="action-title">Approve partner</span>
                <span class="action-description">Description</span>
            </div>
        </button>
        <button class="btn btn-bare btn-menu-item">
            <div class="btn-inner">
                <img class="hide-tablet hide-desktop" src="/images/icons/32px/remove.svg" alt="Remove Icon">
                <img class="show-tablet show-desktop" src="/images/icons/32px/remove-blue.svg" alt="Remove Icon">
                <span class="action-title">Decline partner</span>
                <span class="action-description">Description</span>
            </div>
        </button>
        <button class="btn btn-bare btn-menu-item" onclick="openModal('#account-cancellation-modal')">
            <div class="btn-inner">
                <img class="hide-tablet hide-desktop" src="/images/icons/misc/cancel.svg" alt="Block Icon">
                <img class="show-tablet show-desktop" src="/images/icons/misc/cancel-blue.svg" alt="Block Icon">
                <span class="action-title">Cancel subscription</span>
                <span class="action-description">Description</span>
            </div>
        </button>
    </div>
</div>