<div class="tap-bar tap-bar--admin">
    <nav>
        <button class="btn btn-bare btn-tap-bar">
            <img src="/images/icons/24px/users.svg" alt="Users Icon">
            <span class="t-nav">Users</span>
        </button>
        <button class="btn btn-bare btn-tap-bar">
            <img src="/images/icons/24px/chat.svg" alt="Messages Icon">
            <span class="t-nav">Messages</span>
        </button>
    </nav>
</div>