<button class="btn btn-menu" onclick="toggleFeedMenu(); activateUserActionsPopper(event)">
    <img src="/images/icons/32px/more-dots.svg" alt="More Icon">
    <img src="/images/icons/32px/more-active.svg" alt="More Icon" class="active-icon">
</button>
