<div class="page page-store page-view-all">
    {{> components-page-header }}
    <main class="content">
        <div class="product-list">
            {{#products }}
                {{> components-product-listing-item }}
            {{/products}}
        </div>
    </main>
</div>
