<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" />
    <link rel="stylesheet" href="https://unpkg.com/js-datepicker@5.0.3/dist/datepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/peppermint/1.4.0/peppermint.required.min.css" integrity="sha256-5QCQw4q3Sxb2cQ52IK68khUp2C+TyPYlGJrvVrrhgDk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../css/normalize.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    <meta name="theme-color" content="#6E4AFF" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->
  
  </head>
  <body class="{{ bodyClass }}">
    
